
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">
          <div class="col-4">
          </div>
          <div class="col-4">
                <a href="#" ><i class="fa fa-linkedin-square" style="font-size:36px;color: dimgrey; margin-left: 10%;"></i></a>
                <a href="#"><i class="fa fa-github" style="font-size:36px; color: dimgrey; margin-left: 10%;"></i></a>
                <a href="#"><i class="fa fa-google" style="font-size:36px; color: dimgrey; margin-left: 10%;"></i></a>
                <br>
                <br>
                <p style="margin-left: 10%; color: dimgrey;">All Rights Resevered<i class="fa fa-copyright" style="margin-left: 2%;"></i></p>
          </div>
          <div class="col-4">
          </div>
      </div>
    </div>
  </div>

