
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">
          <div class="col-4">
          </div>
          <div class="col-4">
                <a href="http://www.linkedin.com/in/israragheb" ><i class="fa fa-linkedin-square" style="font-size:36px;color: dimgrey; margin-left: 10%;"></i></a>
                <a href="https://github.com/Isra1997"><i class="fa fa-github" style="font-size:36px; color: dimgrey; margin-left: 10%;"></i></a>
                <a href="#"><i class="fa fa-google" style="font-size:36px; color: dimgrey; margin-left: 10%;"></i></a>
                <a href="https://twitter.com/isra_ragheb"><i class="fa fa-twitter" style="font-size:36px; color: dimgrey; margin-left: 10%;"></i></a>
                <br>
                <br>
                <p style="margin-left: 12%; color: dimgrey;">All Rights Resevered 2020<i class="fa fa-copyright" style="margin-left: 2%;"></i></p>
          </div>
          <div class="col-4">
          </div>
      </div>
    </div>
  </div>

